
@{
    ViewData["Title"] = "GuardarLista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Crear Contacto
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" class="form-control" id="nombre" aria-describedby="NameHelp">
            </div>
            <div class="mb-3">
                <label for="telefono" class="form-label">Teléfono:</label>
                <input type="text" class="form-control" id="telefono">
            </div>            
            <div class="mb-3">
                <label for="mail" class="form-label">Correo:</label>
                <input type="email" class="form-control" id="mail">
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>
            <a href="#">Volver a la lista</a>
        </form>
    </div>
</div>

